<h1 mat-dialog-title>{{"conditionDialog.heading" | transloco}}</h1>
<div mat-dialog-content>
  <form #form="ngForm" class="grid" (ngSubmit)="submit(conditionForm)">
    <mat-form-field>
      <input matInput placeholder="Value" min="0" type="number" name="value" required [(ngModel)]="conditionForm.value">
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="conditionForm.operator" name="operator" required>
        <mat-option *ngFor="let operator of operators" [value]="operator.value">
          {{operator.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">{{"submitButton" | transloco}}</button>
    </div>
  </form>
</div>