<h1 mat-dialog-title>{{data.heading}}</h1>
<div mat-dialog-content>
    <form class="grid" #form="ngForm" (ngSubmit)="submit()" [formGroup]="editForm">
        <mat-form-field style="display:none;">
            <input matInput type="number" formControlName="id">
        </mat-form-field>
        <div *ngIf="editForm.controls.title.errors && editForm.controls.title.touched">
            <p class="text-red-500" *ngIf="editForm.controls.title.errors['required']">{{"form.empty" | transloco}}</p>
        </div>
        <mat-form-field>
            <label for="title">{{"editDialog.title" | transloco}}:</label>
            <input matInput type="text"  formControlName="title">
        </mat-form-field>
        <div *ngIf="editForm.controls.count.errors && editForm.controls.count.touched">
            <p class="text-red-500" *ngIf="editForm.controls.count.errors['required']">{{"form.empty" | transloco}}</p>
            <p class="text-red-500" *ngIf="editForm.controls.count.errors['min']">{{"form.negative" | transloco}}</p>
        </div>
        <mat-form-field>
            <label for="count">{{"editDialog.count" | transloco}}:</label>
            <input matInput type="number" formControlName="count">
        </mat-form-field>
        <div *ngIf="editForm.controls.description.errors && editForm.controls.description.touched">
            <p class="text-red-500" *ngIf="editForm.controls.description.errors['required']">{{"form.empty" | transloco}}</p>
        </div>
        <mat-form-field>
            <label for="description">{{"editDialog.description" | transloco}}:</label>
            <input matInput type="text" formControlName="description">
        </mat-form-field>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid">{{"submitButton" |
                transloco}}</button>
        </div>
    </form>
</div>