<h1 mat-dialog-title>{{data.heading}}</h1>
<div mat-dialog-content>
    <form #form="ngForm" (ngSubmit)="submit(formData)">
        <mat-form-field style="display:none;">
            <input matInput type="number" [(ngModel)]="formData.id" name="id" value="data.id">
        </mat-form-field>
        <mat-form-field>
            <label for="title">Title:</label>
            <input matInput type="text" [(ngModel)]="formData.title" required name="title" placeholder="title">
        </mat-form-field>
        <mat-form-field>
            <label for="count">Count:</label>
            <input matInput type="number" [(ngModel)]="formData.count" required name="count" placeholder="count">
        </mat-form-field>
        <mat-form-field>
            <label for="description">Description:</label>
            <input matInput type="text" [(ngModel)]="formData.description" required name="description"
                placeholder="description">
        </mat-form-field>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!form.valid">Submit</button>
        </div>
    </form>
</div>