<div class="container p-2 mx-auto sm:p-4 text-gray-800">
	<h2 class="mb-4 text-3xl font-semibold leading-tight">{{'materials.pageTitle' | transloco}}</h2>
	<button type="button" (click)="AddMaterial()"
		class="px-4 py-2 mb-4 flex items-center justify-center rounded bg-blue-600 text-gray-50"><mat-icon
			class="">add</mat-icon><span class="pl-1">{{'materials.addMaterial' | transloco}}</span></button>
	<div class="overflow-x-auto">
		<table class="p-6 text-xl text-left whitespace-nowrap">
			<thead>
				<tr class="bg-blue-400">
					<th class="p-3">{{'materials.table.headingOne' | transloco}}</th>
					<th class="p-3">{{'materials.table.headingTwo' | transloco}}</th>
					<th class="p-3">{{'materials.table.headingThree' | transloco}}</th>
					<th></th>
				</tr>
			</thead>
			<tbody *ngFor="let material of materials$ | async" class="border-b bg-gray-50 border-gray-300">
				<tr>
					<td class="px-3 py-2 cursor-pointer" (click)="MaterialDetail(material.id)">
						<p>{{ material.title }}</p>
					</td>
					<td class="px-3 py-2">
						<p>{{ material.count }}</p>
					</td>
					<td class="px-3 py-2">
						<p>{{ material.description }}</p>
					</td>
					<td class="flex p-0 py-2">
						<mat-icon class="ml-2 my-auto cursor-pointer text-blue-500 self-center"
							(click)="AddCount(material.id)">add_circle_outline</mat-icon>
						<mat-icon class="ml-2 cursor-pointer text-blue-500 self-center"
							(click)="SubtractCount(material.id)">remove_circle_outline</mat-icon>
						<mat-icon class="ml-2 pr-3 cursor-pointer text-blue-500 self-center"
							(click)="Edit(material.id, material.title, material.count, material.description)">edit_circle</mat-icon>
							<mat-icon class="ml-2 cursor-pointer text-blue-500 self-center" (click)="DeleteMaterial(material.id, material.title)">delete</mat-icon>
						<mat-icon class="ml-2 cursor-pointer text-blue-500 self-center" (click)="OpenConditions(material.id, material.title)">notifications</mat-icon>
						
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>


